* {
    margin: 0;
    padding: 0;
}
body {
    color: white;
    background-color: #1F618D;
}
.form,
.greetings {
    display: none;
}
.showing {
    display: block;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.7;
    }
}
.bgImg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -5;
    opacity: 0.7;
    animation: fadeIn 0.5s ease-in-out;
}
#momentum {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.weatherDiv,
.toDoDiv {
    width: 30vw;
    height: 80vh;
    margin-top: 100px;
    box-sizing: border-box;
    padding: 20px;
}

.clockDiv {
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.clockDiv h1 {
    font-size: 96px;
}
.clockDiv h4 {
    font-size: 32px;
    margin-top: 40px;
}
.js-form input {
    font-size: 26px;
    margin-top: 40px;
    text-align: center;
    background: transparent;
    border: none;
    border-bottom: 2px solid #DBDFE1;
    color: #DBDFE1;
}
.clockDiv input::placeholder {
    color: #DBDFE1;
}
.js-form input:focus {
    outline: none;
}
.js-clock h1,
.js-clock span {
    display: inline-block;
}

.js-toDoList,
.js-checkedList {
    width: 25vw;
    height: 30vh;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    margin: 20px;
    list-style: none;
    box-sizing: border-box;
    padding: 10px;
}
.js-toDoList li,
.js-checkedList li {
    padding: 5px 0 5px 20px;
    color: #DBDFE1;
    position: relative;
}
.js-toDoList li button,
.js-checkedList li button {
    background: none;
    border: none;
    width: 22px;
    height: 22px;
    color: tomato;
}
.js-toDoList li button:nth-child(2) {
    color: #2ECC71;
    font-weight: 600;
}
.js-toDoList li button:nth-child(3),
.js-checkedList li button {
    position: absolute;
    right: 0;
}
.js-toDoForm input {
    margin-left: 30px;
    padding-bottom: 10px;
    background: transparent;
    border: none;
    width: 15vw;
    font-size: 18px;
    border-bottom: 2px solid #DBDFE1;
    color: #DBDFE1;
}
.js-toDoForm input::placeholder {
    color: #DBDFE1;
}
.js-toDoForm input:focus {
    outline: none;
}

.weatherDiv {
    margin-left: 20px;
}
.weather-now,
.weather-24h__column,
.weather-48h__column {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
.weather-now {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 50px;
}
.weather-now img{
    width: 100px;
    height: 100px;
}
.weather-24h,
.weather-48h {
    display: flex;
    margin-top: 20px;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    width: 12vw;
    padding: 15px 0 15px 20px;
}
.weather-24h img,
.weather-48h img {
    width: 40px;
    height: 40px;
}
